{
    "window_geometry": {
        "main_window": {
            "x": 100,
            "y": 100,
            "width": 325,
            "height": 500
        },
        "screenshot_viewer": {
            "x": 400,
            "y": 100,
            "width": 1280,
            "height": 720
        }
    },
    "ui_preferences": {
        "main_window": {
        },
        "screenshot_viewer": {
            "grid_enabled_default": false,
            "default_copy_mode": "Frame Coords"
        }
    }
}
